apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "admin-api.fullname" . }}
  labels:
    app: admin-api
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: admin-api
  template:
    metadata:
      labels:
        app: admin-api
    spec:
      containers:
        - name: admin-api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 6005
          env:
            - name: LOG_LEVEL
              value: {{ index .Values.env 0 "value" | quote }}
