apiVersion: v1
kind: Service
metadata:
  name: {{ include "matching-engine.fullname" . }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9000"
    prometheus.io/path: "/metrics"
spec:
  type: {{ .Values.service.type }}
  selector:
    app: matching-engine
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 9000
      protocol: TCP
