replicaCount: 3

image:
  repository: k/matching-engine
  tag: latest
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: '2000m'
    memory: '4Gi'
  requests:
    cpu: '500m'
    memory: '1Gi'

service:
  type: ClusterIP
  port: 9000

env:
  - name: LOG_LEVEL
    value: info
